<body ui-view>

<div class="spliter">
    <!--will set up an ng repeat here-->
    <div class="card" ng-click="handleCards(0)">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia malesuada euismod.
            Vestibulum id consectetur quam.</p>
    </div>
    <div class="card" ng-click="handleCards(1)">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia malesuada euismod.
            Vestibulum id consectetur quam.</p>
    </div>
    <div class="card" ng-click="handleCards(2)">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia malesuada euismod.
        Vestibulum id consectetur quam.</p>
    </div>
</div>

<div class="spliter">
    <div class="card" ng-click="handleCards(3)">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia malesuada euismod.
            Vestibulum id consectetur quam.</p>
    </div>
    <div class="card" ng-click="handleCards(4)">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia malesuada euismod.
            Vestibulum id consectetur quam.</p>
    </div>
    <div class="card" ng-click="handleCards(5)">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia malesuada euismod.
            Vestibulum id consectetur quam.</p>
    </div>
</div>

<div class="thing" ng-show="showFirstThing">
    <div class="header">
        <img src="css/img/red-x.jpg" height="100" width="100">
    </div>

    <div class="info">
    </div>

</div>
<div class="thing" ng-show="showSecondThing">
    <div class="header">
        <img src="css/img/red-x.jpg" height="100" width="100">
    </div>

    <div class="info">
    </div>

</div>
<div class="thing" ng-show="showThirdThing">
    <div class="header">
        <img src="css/img/red-x.jpg" height="100" width="100">
    </div>

    <div class="info">
    </div>

</div>
<div class="thing" ng-show="showFourthThing">
    <div class="header">
        <img src="css/img/red-x.jpg" height="100" width="100">
    </div>

    <div class="info">
    </div>

</div>
<div class="thing" ng-show="showFifthThing">
    <div class="header">
        <img src="css/img/red-x.jpg" height="100" width="100">
    </div>

    <div class="info">
    </div>

</div>
<div class="thing" ng-show="showSixthThing">
    <div class="header">
        <img src="css/img/red-x.jpg" height="100" width="100">
    </div>

    <div class="info">
    </div>

</div>


</body>