<body ui-view>

<div class="top">
   <div class="thingtwo">
       <h1> Welcome to our drones site</h1>
   </div>
</div>

<div ng-hide="showFirstThing" class="spliter">
    <!--will set up an ng repeat here-->
    <div class="card" ui-sref="techstate()">
        <h1>Technology</h1>
        <p>Unmanned aerial systems (UAS) or drones, are filled from the bottom up with technology. Drones are essentially autonomous flying robots that can be remotely controlled or completely autonomous. They have tons of uses from commercial to education and everything in between. They usually have a battery, motors, propellers, a central housing unit, and more. The central housing unit holds all of the small components including GPS, circuit boards, and batteries.</p>
    </div>
    <div class="card" ui-sref="uses">
       <h1>Uses</h1>
        <p>Unmanned Aerial Systems (UAS), more commonly known as “drones”, are expanding in every way. They are now able to do things that would normally be very tedious or even impossible. They are able to go into situations or locations that may not be safe for humans. </p>
    </div>
    <div class="card" ng-click="handleCards(2)">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia malesuada euismod.
        Vestibulum id consectetur quam.</p>
    </div>
</div>

<div ng-hide="showFirstThing"  class="spliter">
    <div class="card" ng-click="handleCards(3)">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia malesuada euismod.
            Vestibulum id consectetur quam.</p>
    </div>
    <div class="card" ng-click="handleCards(4)">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia malesuada euismod.
            Vestibulum id consectetur quam.</p>
    </div>
    <div class="card" ng-click="handleCards(5)">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia malesuada euismod.
            Vestibulum id consectetur quam.</p>
    </div>
</div>


</body>