<body ui-view>
    <div class="header">
        <img src="../css/img/redx.png" height="80" width="80" ui-sref="drones">
        
    </div>
    <div class="info">
         Drones can be built with the propellers directed vertically or horizontally depending on the use. Drones built to hover or stay in a specific place have propellers parallel to the ground and drones built to survey large areas tend to have propellers perpendicular to the ground. Drones also have software which allows for things such as programming flight routes, video feed, and GPS systems. Drones sometimes have skids or landing gear that allows the drone to land without harming the technology and mechanics in the drone and on top of the housing structure. Drones continue to have advancements in technology and mechanical elements. 

	As with any technology it gets better and more efficient with time. With drones the advances in technology are limitless. Drones are getting more efficient in every way. The motors are becoming more efficient and allowing the aircraft to stay in flight for longer periods of time. They are also becoming lighter allowing for longer flight times or larger payloads. As the motors get stronger the aircraft is able to carry heavier weights including larger batteries or payloads such as cameras. 
    </div>
</body>