.thingtwo {
    height: 50%;
    width: 50%;
    @include vertical-align();
    @include border-radius(30px);
    text-align: center;
    left: 20%;
    background-color: white;
}
.top {
    text-align: center;
    height: 100%;
    width: 100%;
    color: black;
}

.header {
    height: 20%;
    width: 100%;
    background-color: grey;
    z-index: 10;
}

.info {
    height: 80%;
    width: 100%;
    background-color: white;
    color: black;
}

.thing {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: 1;
}

.spliter {
    padding-left: 100px;
    text-align: center;
    width: 100%;
    height: 50%;
    margin: auto;
}

.card {
    @include transform-style(preserve-3d);
    @include border-radius(20px);
    background-color: rgba(250, 250, 250, .9);
    color: black;
    padding: 10px;
    font: 16px;
    margin: 10px;
    float: left;
    height: 90%;
    width: 25%;
}

.card:hover {
    background-color: rgba(250, 150, 150, .9);
}

p {
    @include vertical-align();
}