.top {
  height: 100%;
  width: 100%;
  color: black;
}
.header {
  height: 10%;
  width: 100%;
}
.info {
  height: 90%;
  width: 100%;
}
.thing {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: red;
  z-index: 1;
}
.spliter {
  padding-left: 100px;
  text-align: center;
  width: 100%;
  height: 50%;
  margin: auto;
}

.card {
  @include transform-style(preserve-3d);
  @include border-radius(20px);
  background-color: rgba(250, 250, 250, .9);
  color: black;
  padding: 10px;
  font: 16px;
  margin: 10px;
  float: left;
  height: 90%;
  width: 25%;
}

p {
  @include vertical-align();
}